  <nav>
        <div class="nav-wrapper blue">
	        <a href="#!" class="navbar navbar-default"><img src="./assets/travel.svg" height="27vw"></a>
	        <ul class="right hide-on-med-and-down">
		        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
		      	<li routerLinkActive="active"><a routerLink="/contato">Contato</a></li>
		      	<li routerLinkActive="active"><a routerLink="/sobre-nos">Sobre nós</a></li>
		      	<li routerLinkActive="active"><a routerLink="/extra">Extra </a></li>
	      	</ul>
        </div>
    </nav>
