  <section id="Sobre_nos">
      <div class="center container">
    <div class="grid-example col s12">
      <h3>Quem somos?</h3>
       O mundo espera por você!
       Somos uma agência que trabalha com uma proposta diferenciada no mercado: Atendimento personalizado ao cliente. Ao entrar em contato conosco você será atendido por pessoas que realmente conhecem o assunto, sendo informado sobre os melhores destinos, os melhores hotéis e os preços mais baixos, além de locais para diversão e entretenimento. Tudo de acordo com o seu gosto e o seu bolso. Nossa missão é trabalhar para que o cliente desfrute da satisfação de viajar em sua plenitude!

      <div class="container highlights center">
        <input type="radio" id="radio-img1" name="highlights" checked="checked" />
        <div class="highlights-item">
        <img src="../assets/5.jpg" height="100vh" />
        <h3>  Pacotes de Viagens</h3>
        <h6>Economize até 70% com incríveis descontos para pacote de viagens. Aqui você encontra as melhores ofertas, confere as fotos, dicas e mapas do seu destino. Você e sua família com diversão e economia garantida!</h6>
        </div>
        
        <input type="radio" id="radio-img2" name="highlights" />
        <div class="highlights-item">
          <img src="../assets/6.jpg" height="100vh" />
          <h3>  Destinos</h3>
          <h6>Escolha o Seu Destino. Montanha, praia ou cachoeira? Agito ou ecoturismo? Passeio ou negócios? Final de semana, férias ou feriado? O Brasil é um país rico em turismo! Não sabe por onde começar? Selecionamos para você os melhores destinos de cada época do ano para você desfrutar com a melhor mordomia e comodidade.</h6>
        </div>
      </div>
    </div>
     <input type="radio" id="radio-img2" name="highlights" />
        <div class="highlights-item">
          <img src="../assets/7.jpg" height="100vw" height="100vw" />
          <h3>  Por quê viajar?</h3>
          <h6>Viajar é uma das melhores experiências que a vida pode te proporcionar e, por isso, não é à toa aquela famosa frase “viajar é a única coisa que você pode comprar e que te faz mais rico”.

          Afinal, você volta com a bagagem cheia de cultura, conhecimento, quebras de preconceitos, felicidade e sabedoria. Tem como ser mais rico do que dessa maneira? Não, né???</h6>
        </div>
        </div>   
    </section>