  <section id="Extra">
     <div class=" highlights center container ">
      <h5>Confira outras ofertas que você pode gostar</h5>
        <input type="radio" id="radio-img1" name="highlights" checked="checked" />
        <div class="highlights-item">
        <img src="../assets/longo.jpg" height="100vh" />
        <button class="waves-effect waves-light btn" type="submit" [disabled]="login.invalid||
          passwordError">Meu deus</button>
        </div>
        
        <input type="radio" id="radio-img2" name="highlights" />
        <div class="highlights-item">
          <img src="../assets/mamae.jpeg" height="100vh" />
          <button class="waves-effect waves-light btn" type="submit" [disabled]="login.invalid||
          passwordError">Presente da Mamãe</button>
        </div>

         <input type="radio" id="radio-img2" name="highlights" />
        <div class="highlights-item">
          <img src="../assets/vegas.jpg" height="100vh" />
          <button class="waves-effect waves-light btn" type="submit" [disabled]="login.invalid||
          passwordError">Vegas baby</button>
          <p>
        </div>
        
        <input type="radio" id="radio-img2" name="highlights" />
        <div class="highlights-item">
          <p>
          
          <img src="../assets/internet.jpeg" height="500vh" />
          <button class="waves-effect waves-light btn" type="submit" [disabled]="login.invalid||
          passwordError">Tenho cartão Visa</button>

        </div>

        <input type="radio" id="radio-img2" name="highlights" />
        <div class="highlights-item center">
          <p>

          <img src="../assets/gol.jpg" height="500vh" />
          <button class="waves-effect waves-light btn" type="submit" [disabled]="login.invalid||
          passwordError">Vou de Gol</button>
        </div>
        <div id="principal">
         <div id="topo">
           Se liga nessa!
         </div>         
         <div id="conteudo"> 
             <div id="bg_topo">
              <h4>Vai viajar?</h4>
             </div>
             <div id="bg_meio">
                  <h4>Aproveite as ofertas exclusivas para clientes Visa no Travel Leisure.</h4>
                  <h4>PARA APROVEITAR ESTA OFERTA:</h4>
                 <p> <button class="waves-effect waves-light btn" type="submit" [disabled]="login.invalid||
                  passwordError">Confira Aqui!</button></p>
             </div>
         </div>
     </div>
      </div>
    </section>

