
#bg_topo{
   background-color: white;
   width: 989px;
   height: 75px;
   font-weight: 100

}

#bg_meio{
   background-color: white;
}

#bg_rodape{
   background-color: white;
   width: 989px;
   height: 75px;
}