<section id="Home">
        <div class="container highlights center">
        <h4>
        <p>
        Ta pensando em viajar? Chama a Travel Leisure!
        </p>
          <input type="radio" id="radio-img1" name="highlights" checked="checked" />
          <div class="highlights-item">
            <img src="./assets/1.jpg" />
            <button class="waves-effect waves-light btn" type="submit" [disabled]="login.invalid ||
            passwordError">Quero Viajar!</button>
          </div>
          
           <input type="radio" id="radio-img2" name="highlights" />
          <div class="highlights-item">
            <img src="./assets/2.jpg" />
            <button class="waves-effect waves-light btn" type="submit" [disabled]="login.invalid ||
            passwordError">Descontos</button>
          </div>
          
          <input type="radio" id="radio-img3" name="highlights" />
          <div class="highlights-item">
            <img src="./assets/3.jpg" />
            <button class="waves-effect waves-light btn" type="submit" [disabled]="login.invalid ||
            passwordError">To com sorte!</button>
          </div>
        </h4>
       </div>
</section>  